.home-body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
.all-posts {
  margin: auto;
}
.home-innerbody-1 {
  min-height: 88vh;
}
.home-innerbody-2 {
  margin: 2rem;
  position: sticky;
  left: 0;
  top: 5rem;
  z-index: 3;
  height: 94vh;
}
.mobile-home-innerbody-2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .home-innerbody-2 {
    display: none;
  }
  .mobile-home-innerbody-2 {
    display: block;
  }
}
