.home-body{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}
.all-posts{
  margin: auto;
}
.home-innerbody-2{
  margin: 2rem 1rem;
}