.home-body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  min-height: calc(100vh - 69.8px);
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
.all-posts {
  margin: auto;
}
.home-innerbody-1 {
  min-height: 88vh;
}
.home-innerbody-2 {
    margin: 2rem;
    position: sticky;
    left: 0;
    top: 4rem;
    z-index: 3;
    height: 84vh;
    overflow-y: scroll;
}
.mobile-home-innerbody-2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .home-innerbody-2 {
    display: none;
  }
  .mobile-home-innerbody-2 {
    display: block;
  }
}
